{% extends  layout %}
{% block  content %}
  
<div class="container">
  <h1>{{message}}</h1>
  <div class="cards d-flex flex-wrap justify-content-center">
  <div class="card" style="width: 42rem;">
    <div class="card-body">
      <form action="/meeps/" method="POST">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Meep® something</label>
          <input type="text" class="form-control" id="body" name="body" placeholder="Meep...">
        </div>
        <input type="submit" class="btn btn-primary mb-3" value="Post">
      </form>
    </div>
  </div> 
  {% for item in items %}
  <div class="card" style="width: 42rem;">
    <div class="card-body">
      <h5 class="card-title">Anonymous user</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{item.updated_at}}</h6>
      <p class="card-text">{{item.body}}</p>
      <div class="d-flex">
      <form action="/meeps/{{item.id}}" method="GET">
        <input type="submit" value="Edit" class="btn btn-primary mr-auto">
      </form>
      <form action="/meeps/{{item.id}}/delete/" method="GET">
        <input type="submit" value="DELETE" class="btn btn-danger">
      </form>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
    
</div>
{% endblock %}